<br>
	<div class="jumbotron">
		<h1>Blocipedia</h1>
			<p>Blocipedia makes you the author of the web! Create your first wiki today!</p>
			<p>
			<%= link_to "Sign In", new_user_session_path %> or 
			<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
			</p>
		</div>

	<div class="row">
		<div class="col-md-4">
			<h2>Solves ignorance</h2>
			<p>Use the web's only reliable source of information.</p>
		</div>
		<div class="col-md-4">
			<h2>Cures Diabetes</h2>
			<p>Some shoddy scientific studies have found diabetes is completely cured by using Blocipedia.</p>
		</div>
		<div class="col-md-4">
			<h2>Remedies Corporate Greed</h2>
			<p>For every new wiki posted, a member of the Blocipedia team will cold-cock a corporate lackey right in the sack.</p>
	</div>
</div>